ANSIBLE_HOSTS: hekcas1
SSH_USER: adm-ansible1
SSH_USER_UID: 2000
SSH_USER_GROUP: 27
SSH_USER_PASSWORD: "{{ 'Start123!!' | password_hash('sha512', 'mysecretsalt') }}"
GITHUB_USERNAME: dawdad
ANSIBLE_COMMENT: "Automated by Ansible"