ANSIBLE_HOSTS: <ansible-hostname> 
SSH_USER: <username>
SSH_USER_UID: <userid>
SSH_USER_GROUP: <groupid>
SSH_USER_PASSWORD: "{{ '<PASSWORD>' | password_hash('sha512', 'mysecretsalt') }}"
GITHUB_USERNAME: <github-username>
ANSIBLE_COMMENT: "Automated by Ansible"
