PidFile=/var/run/zabbix/zabbix_agent2.pid
LogFile=/var/log/zabbix/zabbix_agent2.log
LogFileSize=0
Include=/etc/zabbix/zabbix_agent2.d/*.conf
PluginSocket=/run/zabbix/agent.plugin.sock
ControlSocket=/run/zabbix/agent.sock
Include=./zabbix_agent2.d/plugins.d/*.conf

## Server Settings
Server=<serverip>
ServerActive=<serverip>
Hostname=<hostname>
TLSConnect=psk
TLSAccept=psk
TLSPSKFile=/opt/zabbix_agentd.psk
TLSPSKIdentity=PSK001